### Regularized Linear Regression (정규화된 선형 회귀)
- 다중 회귀 모델은 복잡도가 높아서 과대적합(overfitting)되는 경향이 있다. 이를 해결하기 위해서는 규제(penalty)를 주어 복잡도를 감소시켜야 한다.

##### NORM
- l<sub>p</sub>-norm 식은 아래와 같다.
<img src="./images/regularized01.png" style="margin-left: 0">

- p=1 일 때, l<sub>1</sub>-norm, p=2일 때, l<sub>2</sub>-norm이다.
- p=1일 때에는 마름모 형태를, p=2일 때는 원의 형태를 가진다.
<img src="./images/regularized02.png" style="margin-left: 0">


##### 라쏘(LASSO, least absolute shrinkage and selection operator)
- L1 규제를 통한 정규화를 사용하는 방식이다.
- 파라미터가 2개인 경우 파란색 도형은 L1 규제를 나타내며, 주황색 선은 아래의 식을 선형으로 표현한 적합 회귀선이다.
<div style="display: flex; margin-top:20px">
    <div>
        <img src="./images/regression04.png" width="100" style="margin-top:20px; margin-left: 0">
    </div>
    <div>
        <img src="./images/regularized03.png" style="margin-left: 30px">
    </div>
</div>

- 규제항이 0에 수렴할때 L1 정규화의 경우 주황색 선의 절편은 0이 될 수 있다.
- L1 노름의 경우 절댓값에 대한 식이므로 미분이 불가능하지만, 특정 방식을 통해 미분하였을 때 가중치가 0이라 말할 수 있기 때문에,  
경사하강법을 통해 학습하는 모델에는 적합하지 않다.
- 중요하지 않은 특성들은 모델에서 제외하여 모델을 단순하게 만들고, 가장 영향력이 큰 특성이 무엇인지 알 수 있기 때문에 모델의 해석력이 좋아진다. 
> - 📌절대값에 대한 식을 미분할 수 없는 이유는, 기울기가 -1에서 1 사이인 직선 모두가 접선이 되기 때문이다. 접점이 한 개 있을 경우 선을 정확히 그을 수 없으며, 이는 좌극한과 우극한이 다른 것이고 극한의 정의에 의해 어떤 것에 가까워진다고 단정짓기 애매하기 때문에, 해당 지점에서는 미분이 불가능하다고 말한다.
<img src="./images/regularized06.png" width=500 style="margin-left: 0">

##### 릿지(Ridge)
- L2규제를 통한 정규화를 사용하는 방식이다.
- 파라미터가 2개인 경우 파란색 도형은 L2 규제를 나타내며, 주황색 선은 아래의 식을 선형으로 표현한 적합 회귀선이다.
<div style="display: flex; margin-top:20px">
    <div>
        <img src="./images/regression04.png" width="100" style="margin-top:20px; margin-left: 0">
    </div>
    <div>
        <img src="./images/regularized04.png" style="margin-left: 30px">
    </div>
</div>

- 규제항이 0에 수렴할때 L2 정규화의 경우 주황색 선의 절편은 0이 될 수 없다.
- L2 노름의 경우 미분을 했을 때 가중치가 남아있기 때문에, 경사하강법을 통해 학습하는 모델에는 적합하다.
- 값이 0이 되는(제외하는) 특성은 없지만, 골고루 0에 가까운 값으로 작아지기 때문에 일부로 덜 학습시켜서 장기적으로 더 좋은 모델이 된다.

##### λ (Regulation parameter)
- λ이 커지면 손실 함수를 최소화하는 과정에서 노름(norm)이 작아지므로 규제가 강해졌다고 표현한다.
- 노름(norm)이 커지면 손실 함수를 최소화하는 과정에서 λ이 작아지므로 규제가 약해졌다고 표현한다.
<img src="./images/regularized05.png" width="350" style="margin-left: 0">

##### 🚩결론: 여러 feature 중 일부분만 중요하면 라쏘, 중요도가 전체적으로 비슷하면 릿지를 사용하자!

### Polynomial Regression Task

##### 한국인 수익 예측
- id : 식별 번호
- year : 조사 년도
- wave : 2005년 wave 1위부터 2018년 wave 14위까지
- region: 1)서울 2)경기 3)경남 4)경북 5)충남 6)강원 & 충북 7)전라 & 제주
- income: 연간 수입 M원(백만원.1100원=1USD)
- family_member: 가족 구성원 수
- gender: 1) 남성 2) 여성
- year_born: 태어난 년도
- education_level:1)무교육(7세 미만) 2)무교육(7세 이상) 3)초등학교 4)중학교 5)고등학교 6)대학 학위 8)MA 9)박사 학위
- marriage: 혼인상태. 1)해당없음(18세 미만) 2)혼인중 3)사망으로 별거중 4)별거중 5)미혼 6)기타
- religion: 1) 종교 있음 2) 종교 없음  
- occupation: 직종 코드, 별도 첨부
- company_size: 기업 규모
- reason_none_worker: 1)능력 없음 2)군 복무 중 3)학교에서 공부 중 4)학교 준비 5)직장인 7)집에서 돌보는 아이들 8)간호 9)경제 활동 포기 10)일할 의사 없음 11)기타

In [2]:
import pandas as pd

income_df = pd.read_csv('./datasets/korean_income.csv')
income_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92857 entries, 0 to 92856
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  92857 non-null  int64
 1   year                92857 non-null  int64
 2   wave                92857 non-null  int64
 3   region              92857 non-null  int64
 4   income              92857 non-null  float64
 5   family_member       92857 non-null  int64
 6   gender              92857 non-null  int64
 7   year_born           92857 non-null  int64
 8   education_level     92857 non-null  int64
 9   marriage            92857 non-null  int64
 10  religion            92857 non-null  int64
 11  occupation          92857 non-null  object
 12  company_size        92857 non-null  object
 13  reason_none_worker  92857 non-null  object
dtypes: float64(1), int64(10), object(3)
memory usage: 9.9+ MB

In [3]:
income_df = income_df[income_df.income > 0.0]
income_df.shape[0]

92625

In [4]:
income_df.loc[:, 'occupation'] = income_df.occupation.apply(lambda x: x.replace(' ', '0'))
income_df.loc[:, 'company_size'] = income_df.company_size.apply(lambda x: x.replace('99', '0'))
income_df.loc[:, 'company_size'] = income_df.company_size.apply(lambda x: x.replace(' ', '0'))
income_df.loc[:, 'reason_none_worker'] = income_df.reason_none_worker.apply(lambda x: x.replace('99', '12'))
income_df.loc[:, 'reason_none_worker'] = income_df.reason_none_worker.apply(lambda x: x.replace(' ', '12'))

In [5]:
income_df['target'] = income_df.income
income_df = income_df.drop(columns='income', axis=1)

In [6]:
income_df[['company_size', 'occupation', 'reason_none_worker']] = income_df[['company_size', 'occupation', 'reason_none_worker']].astype('int16')
income_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 92625 entries, 0 to 92856
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  92625 non-null  int64
 1   year                92625 non-null  int64
 2   wave                92625 non-null  int64
 3   region              92625 non-null  int64
 4   family_member       92625 non-null  int64
 5   gender              92625 non-null  int64
 6   year_born           92625 non-null  int64
 7   education_level     92625 non-null  int64
 8   marriage            92625 non-null  int64
 9   religion            92625 non-null  int64
 10  occupation          92625 non-null  int16
 11  company_size        92625 non-null  int16
 12  reason_none_worker  92625 non-null  int16
 13  target              92625 non-null  float64
dtypes: float64(1), int16(3), int64(10)
memory usage: 9.0 MB

In [7]:
income_df = income_df.drop(columns='id', axis=1)

In [8]:
income_df = income_df.reset_index(drop=True)
income_df

,year,wave,region,family_member,gender,year_born,education_level,marriage,religion,occupation,company_size,reason_none_worker,target
0,2005,1,1,1,2,1936,2,2,2,0,0,8,614.0
1,2011,7,1,1,2,1936,2,2,2,0,0,10,896.0
2,2012,8,1,1,2,1936,2,2,2,0,0,10,1310.0
3,2013,9,1,1,2,1936,2,2,2,0,0,1,2208.0
4,2014,10,1,1,2,1936,2,2,2,0,0,10,864.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
92620,2014,10,5,6,1,1967,5,1,1,874,1,12,11600.0
92621,2015,11,5,6,1,1967,5,1,1,874,1,12,8327.0
92622,2016,12,5,6,1,1967,5,1,1,874,1,12,7931.0
92623,2017,13,5,5,1,1967,5,1,1,874,1,12,8802.0
92624,2018,14,5,6,1,1967,5,1,1,874,1,12,6747.0

In [9]:
from sklearn.preprocessing import StandardScaler
income_df = income_df[pd.Series(StandardScaler().fit_transform(income_df[['target']]).flatten()).between(-1.96, 1.96)]
income_df

,year,wave,region,family_member,gender,year_born,education_level,marriage,religion,occupation,company_size,reason_none_worker,target
0,2005,1,1,1,2,1936,2,2,2,0,0,8,614.0
1,2011,7,1,1,2,1936,2,2,2,0,0,10,896.0
2,2012,8,1,1,2,1936,2,2,2,0,0,10,1310.0
3,2013,9,1,1,2,1936,2,2,2,0,0,1,2208.0
4,2014,10,1,1,2,1936,2,2,2,0,0,10,864.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
92619,2013,9,7,6,1,1967,5,1,1,874,1,12,6194.0
92621,2015,11,5,6,1,1967,5,1,1,874,1,12,8327.0
92622,2016,12,5,6,1,1967,5,1,1,874,1,12,7931.0
92623,2017,13,5,5,1,1967,5,1,1,874,1,12,8802.0
92624,2018,14,5,6,1,1967,5,1,1,874,1,12,6747.0

In [14]:
import numpy as np
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score, mean_squared_log_error

def get_evaluation(y_test, prediction):
    MAE =  mean_absolute_error(y_test, prediction)
    MSE = mean_squared_error(y_test, prediction)
    RMSE = np.sqrt(MSE)
    MSLE = mean_squared_log_error(y_test, prediction)
    RMSLE = np.sqrt(mean_squared_log_error(y_test, prediction))
    R2 = r2_score(y_test, prediction)

    print('MAE: {:.4f}, MSE: {:.4f}, RMSE: {:.4f}, MSLE: {:.4f}, RMSLE: {:.4f}, R2: {:.4f}'.format(MAE, MSE, RMSE, MSLE, RMSLE, R2))

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

features, targets = income_df.iloc[:, :-1], income_df.target

poly_features = PolynomialFeatures(degree=3).fit_transform(features)

X_train, X_test, y_train, y_test = train_test_split(poly_features, targets, test_size=0.2, random_state=0)

# 로그 변환
y_train = np.log1p(y_train)

linear_regression = LinearRegression()

linear_regression.fit(X_train, y_train)

prediction = linear_regression.predict(X_test)

get_evaluation(np.log1p(y_test), prediction)

MAE: 0.3556, MSE: 0.2283, RMSE: 0.4778, MSLE: 0.0035, RMSLE: 0.0596, R2: 0.7043

In [1]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso
from sklearn.preprocessing import PolynomialFeatures

features, targets = income_df.iloc[:, :-1], income_df.target

poly_features = PolynomialFeatures(degree=3).fit_transform(features)

X_train, X_test, y_train, y_test = train_test_split(poly_features, targets, test_size=0.2, random_state=0)

# 로그 변환
y_train = np.log1p(y_train)

lasso = Lasso(max_iter=500, alpha = 1)

lasso.fit(X_train, y_train)

prediction = lasso.predict(X_test)
print(lasso.coef_)
# prediction[prediction < 0] = np.log1p(2.0)

# MAE: 0.3556, MSE: 0.2283, RMSE: 0.4778, MSLE: 0.0035, RMSLE: 0.0596, R2: 0.7043

# alpha = 0.001
# MAE: 0.3709, MSE: 0.2420, RMSE: 0.4920, MSLE: 0.0037, RMSLE: 0.0610, R2: 0.6865

# alpha = 0.01
# MAE: 0.3712, MSE: 0.2422, RMSE: 0.4921, MSLE: 0.0037, RMSLE: 0.0610, R2: 0.6863

# alpha = 1
# MAE: 0.3738, MSE: 0.2447, RMSE: 0.4947, MSLE: 0.0038, RMSLE: 0.0613, R2: 0.6830

# alpha = 100
# MAE: 0.3794, MSE: 0.2505, RMSE: 0.5005, MSLE: 0.0038, RMSLE: 0.0618, R2: 0.6754

# alpha = 1000
# MAE: 0.3917, MSE: 0.2647, RMSE: 0.5145, MSLE: 0.0040, RMSLE: 0.0633, R2: 0.6571

get_evaluation(np.log1p(y_test), prediction)

NameError: name 'income_df' is not defined

In [27]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.preprocessing import PolynomialFeatures

features, targets = income_df.iloc[:, :-1], income_df.target

poly_features = PolynomialFeatures(degree=3).fit_transform(features)

X_train, X_test, y_train, y_test = train_test_split(poly_features, targets, test_size=0.2, random_state=0)

# 로그 변환
y_train = np.log1p(y_train)

ridge = Ridge(max_iter=500, alpha = 1000)

ridge.fit(X_train, y_train)

prediction = ridge.predict(X_test)
print(ridge.coef_)
# prediction[prediction < 0] = np.log1p(2.0)

# MAE: 0.3556, MSE: 0.2283, RMSE: 0.4778, MSLE: 0.0035, RMSLE: 0.0596, R2: 0.7043

# alpha = 0.001
# MAE: 0.3557, MSE: 0.2283, RMSE: 0.4778, MSLE: 0.0035, RMSLE: 0.0596, R2: 0.7043

# alpha = 0.01
# MAE: 0.3557, MSE: 0.2283, RMSE: 0.4778, MSLE: 0.0035, RMSLE: 0.0596, R2: 0.7043

# alpha = 1
# MAE: 0.3557, MSE: 0.2283, RMSE: 0.4778, MSLE: 0.0035, RMSLE: 0.0596, R2: 0.7043

# alpha = 100
# MAE: 0.3557, MSE: 0.2283, RMSE: 0.4778, MSLE: 0.0035, RMSLE: 0.0596, R2: 0.7043

# alpha = 1000
# MAE: 0.3557, MSE: 0.2283, RMSE: 0.4778, MSLE: 0.0035, RMSLE: 0.0596, R2: 0.7043

get_evaluation(np.log1p(y_test), prediction)

[-2.26458896e-08 -1.80988013e-07  2.38048467e-08  7.77386958e-08
 -1.60693321e-07  2.70924428e-07 -1.12403790e-07 -5.31650327e-07
  2.26137942e-07 -2.46225269e-08  1.59518741e-07 -3.09394809e-08
 -2.53880945e-07 -3.97775603e-07  7.54697878e-08  4.16223728e-07
 -1.13350559e-08  4.05007225e-07 -1.07910149e-07 -1.92769770e-07
 -2.95818404e-08  4.59474046e-09 -2.93671161e-07  1.53345136e-07
 -2.80002271e-08 -1.29008922e-07  1.14363344e-07 -2.36628928e-07
 -2.65884429e-07  1.27526219e-08  4.51291310e-08 -3.03328789e-07
 -1.49368070e-08  4.19003892e-07 -1.34037860e-07 -7.15026803e-08
  4.37156821e-07 -7.34156806e-07  7.94476951e-07 -2.85441951e-08
 -1.96531033e-07 -4.16113565e-07  6.33179688e-07  1.84739675e-07
 -4.53676188e-08  1.38764447e-07 -3.28991414e-07 -4.76610419e-06
  1.09237677e-07 -7.05861903e-07 -2.80607523e-07 -2.47508961e-07
  1.14304962e-07  2.05055188e-07 -1.66331772e-07 -6.64639742e-09
 -5.27138963e-08  2.18535429e-06 -1.12677621e-06 -1.03594565e-06
  2.62506583e-07 -1.85983570e-06  9.99063538e-07  9.06287069e-08
 -1.89419156e-09 -5.02205763e-08 -8.42658842e-08  3.07830601e-08
  2.94183730e-07 -2.98646422e-08 -9.26997289e-08 -5.00823056e-07
  7.59941310e-07 -9.81152060e-08 -3.72838627e-07  4.05609206e-07
 -1.51788127e-06  2.27935712e-06 -1.49589543e-07 -1.81709336e-07
  2.78486066e-07  1.73088613e-06  5.81313323e-08  5.47053299e-07
 -3.87194030e-09 -3.05997595e-08 -2.60146542e-07 -2.39268611e-08
 -3.65713423e-07  1.30886048e-08 -5.62625899e-07  3.13453412e-05
 -8.62387815e-05 -7.54171550e-06  1.48797282e-05 -9.89112305e-05
  3.53385317e-06 -5.04620101e-05  1.04312908e-04  2.78593226e-05
 -1.20070686e-07 -3.60704902e-05 -3.39405645e-05  1.01979917e-04
  2.17450681e-06 -2.56343885e-05 -3.01734025e-04 -2.31830258e-05
  7.42119187e-05  1.83323846e-04 -7.92112432e-05  5.46563217e-07
 -5.35616822e-05  2.09649338e-05  2.60067261e-04 -3.20002575e-04
  7.23957423e-05  1.44251377e-05 -1.03291042e-04 -7.99122573e-05
 -1.13521208e-05 -1.29885004e-06  4.65545046e-05  1.20270136e-04
 -4.43251118e-04 -2.77889338e-03 -2.37672345e-05 -3.69737597e-04
  5.12438004e-04  3.82787357e-04  3.85828601e-06 -9.56956348e-05
 -6.26689867e-05  2.19019590e-07  2.10566907e-04  1.29976198e-03
 -3.37761700e-03 -2.51001789e-03  6.47447952e-06 -1.16760044e-03
  1.73495057e-04 -3.70386806e-06  1.03587614e-04 -2.09100302e-04
 -5.79789768e-05  2.37179687e-07  7.70011170e-05  7.13411653e-05
  2.08227315e-04 -1.68660631e-04 -9.02057575e-05 -1.02252612e-06
 -2.56435011e-04 -1.88880994e-04 -2.01065301e-03  2.02302199e-03
  8.56127312e-07  2.43488414e-04  7.29031343e-05 -5.88005074e-05
 -3.69183361e-06  3.47997823e-04  1.95642459e-04 -6.53173984e-10
 -9.20878532e-07  6.30593204e-08 -2.80419546e-04  6.65249204e-08
 -2.35656768e-04  5.95899831e-04 -2.36908110e-04  2.81876518e-04
  6.56838453e-04 -1.55764253e-05  4.05047504e-04  6.25883620e-04
  2.64833505e-04  6.94201514e-07  3.60894368e-05  1.04608713e-06
 -5.29539077e-04  4.60067066e-04 -1.26095499e-03  9.23320600e-07
  1.52025605e-04  7.22714562e-04 -9.87854965e-04  1.45101024e-06
 -1.06519993e-04  7.78334773e-05  7.72137892e-04  7.10910697e-03
  1.26138054e-05  7.36221492e-04  9.20575750e-04  7.90133691e-04
 -2.20354389e-07 -2.23449474e-04  2.17423305e-05 -1.14910829e-06
  3.13100250e-04 -3.26387839e-03 -3.44013854e-04  1.31707412e-04
  5.25595878e-06  2.43508669e-03 -1.65995673e-03  1.20894400e-05
 -7.93347027e-05 -1.94237143e-04  8.96652616e-05 -5.76684125e-07
  4.77321406e-05 -2.40853711e-05  1.74155852e-04  1.14641725e-03
 -1.43107400e-03  2.79004916e-06  1.14869132e-04 -3.91775291e-04
  8.91586854e-04 -2.22895318e-03 -2.92228884e-06  1.72017955e-04
 -7.88677155e-04 -3.17046491e-03 -2.99194423e-07 -6.52442919e-04
  6.69724879e-05  5.96759114e-09  3.91075287e-06 -2.03169490e-08
  7.67466882e-04 -5.71238156e-07  7.20831974e-04 -1.25464545e-03
  1.54180768e-04  6.04644692e-03 -2.68080021e-04  3.25428361e-03
 -1.07698771e-03  4.49165770e-03  3.19094575e-06 -7.18259154e-04
 -6.09020503e-04  1.20845007e-03 -3.67460872e-03  3.16825684e-04
 -1.69711680e-03 -2.16434825e-05  1.88243366e-04 -2.35387712e-06
 -3.59473928e-04  1.98144839e-03  1.98597011e-06 -1.26243937e-04
 -3.25656640e-04  7.87522455e-03  2.80420858e-03  7.43665548e-06
 -1.36828860e-03  4.35813372e-03 -6.79293806e-06  9.25428980e-05
  6.59223115e-05 -1.62191653e-05  1.32479376e-06 -4.08617069e-05
 -1.29807587e-04  5.95657594e-04 -1.35818701e-03  3.09869531e-03
 -4.64199963e-06 -1.20102751e-04 -1.07831825e-04  6.62600380e-04
  1.27123509e-03 -3.97534172e-07 -9.98796715e-04  2.52952892e-03
  4.26712279e-04  4.26687838e-06 -1.00022241e-03  3.23980519e-04
 -7.20843271e-09 -9.67154024e-08  2.99178540e-08  6.31022299e-05
  9.65876940e-07  7.99233757e-05  4.92931968e-03 -3.79546340e-05
  3.79801814e-04  4.24853622e-03 -6.13637408e-03  9.81575931e-04
  6.42445275e-06  1.36370660e-03  2.72446050e-03 -1.47844501e-05
  2.82763899e-03 -8.36049917e-03  1.80166302e-02  4.81989818e-03
  3.48504757e-05 -1.09569086e-03  1.74498700e-03  8.95423285e-06
  4.01691234e-04 -5.35160279e-04 -3.78588727e-04 -4.00153972e-06
  8.67693994e-05  8.30616825e-05 -4.82689918e-03  7.94554513e-03
  2.15836983e-03  8.15692101e-06  1.94839382e-03 -4.62381964e-03
 -2.92077401e-03  2.54603402e-04 -1.12245928e-05  8.25883497e-04
  1.07064191e-03  3.82289616e-05 -1.58639026e-05  2.29751983e-04
 -4.34943534e-03 -5.47060619e-09  9.13646709e-06  7.13545742e-08
 -2.40965799e-04  4.96411254e-07 -3.20356071e-03 -4.17919133e-08
 -3.99745107e-07  6.57116579e-06 -4.49467329e-06 -4.24889294e-06
  1.88866408e-07 -5.49043413e-06  2.63309807e-06 -1.11878956e-04
 -1.29652105e-03  3.42226006e-03  2.57263555e-03 -6.72690043e-06
  1.15911966e-03 -1.79030718e-04  8.77942206e-03 -1.77221753e-02
  5.48123253e-03 -4.05033630e-05  3.98817334e-03 -7.96414989e-03
  1.52153135e-02 -1.48348095e-03  4.78269210e-06 -4.21163124e-03
  8.74017110e-03  5.29986757e-03  2.23317259e-05 -3.52361044e-03
 -3.81126914e-03 -3.23351550e-09  2.91341768e-05 -3.02608996e-07
  2.41614817e-03 -2.16752311e-05 -9.06616795e-05  1.29705348e-06
 -5.31077331e-05  1.04931458e-04  3.02118810e-05 -1.16499707e-07
 -4.09181890e-05 -3.74642946e-05 -2.35219714e-04  1.48387141e-04
  6.76739388e-05  1.16225302e-06  2.57753149e-04  2.07182741e-04
  2.00098368e-03 -2.11413296e-03 -8.71699341e-07 -2.42814274e-04
 -1.02308331e-04  5.62565970e-05  3.89523399e-06 -3.51268458e-04
 -2.14619325e-04 -9.53204533e-10  7.89626353e-07 -9.19605522e-08
  2.70938477e-04  3.03731321e-07  2.40420177e-04  2.88649573e-03
 -7.30481304e-04  3.89075431e-03 -2.39885308e-05 -8.70952049e-04
 -5.92996089e-04  3.35584086e-03  4.11688241e-04  1.25053165e-05
  1.19892105e-03  1.90653470e-03 -1.50433691e-03 -2.82814322e-05
 -9.38636865e-05  2.04868007e-03  4.09939035e-09 -5.15645871e-07
 -6.83215897e-08  5.38652889e-04 -1.98669415e-06  3.81034014e-04
  7.44575758e-03  7.71920477e-03  6.56390135e-06  1.12256735e-03
  1.26432719e-03 -3.92470510e-03 -3.42115961e-05  3.24846774e-03
  6.71763494e-03  9.23160199e-09 -6.57147189e-06 -2.65125377e-07
 -1.72364180e-03  3.23202317e-07  4.73163772e-04  1.84177288e-05
 -4.63389548e-06 -1.81952062e-03  2.48994114e-03 -2.66665361e-08
  7.61999799e-06  1.28442379e-07 -5.75367922e-05  5.86011307e-06
  1.02037812e-03  4.97583586e-11  3.72468325e-09  2.26550796e-07
  1.64201563e-05  2.03444112e-08  1.11061415e-07  8.21163915e-04
 -6.34547327e-06  3.11745872e-07  2.44526550e-04]
MAE: 0.3557, MSE: 0.2283, RMSE: 0.4778, MSLE: 0.0035, RMSLE: 0.0596, R2: 0.7043